body{
    background-color: #6a6969;
}
.navbar{
    position: fixed;
    background: black;
    font-family: 'Times New Roman', Times, serif;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}


