body{
    background-color: #6a6969;
}
.navbar{
    position: fixed;
    background: black;
    font-family: 'Times New Roman', Times, serif;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
.navdiv{
    display: flex;
    align-items: center; 
    justify-content:space-between;
}
.wel{
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
    transition: all .50s ease;
    font-family: serif;
    margin-left: 100px;
}



